* {
    box-sizing: border-box;
}

.card-container {
    --card-height: 800px;
    --card-width: calc(var(--card-height) * 0.71);
    --card-font-size: calc(var(--card-height) / 54);
    --bg-color: #eca57f;
    --border-color: #e8ce4a;
    --text-primary: rgb(14, 14, 14);
    --text-secondary: rgb(46, 46, 46);
    font-family: Arial, sans-serif;
    font-size: var(--card-font-size);
    height: var(--card-height);
    width: var(--card-width);
    border-radius: calc(var(--card-font-size));
    background-color: var(--border-color);
    padding: calc(var(--card-font-size) * 1.1);
    /* overflow: hidden; */
}

.card-grid {
    background-color: var(--bg-color);
    height: 100%;
    display: grid;
    grid-template-rows: 10% 44% 3% 26% 7% 6% auto;
}

.card-top {
    height: 10%;
    width: 100%;
    padding: 2% 5%;
    grid-column-start: 1 / 2;
    display: grid;
    grid-template-columns: 60% 28% auto;
    grid-template-rows: 1fr 1fr;
}

.card-evolution-level {
    grid-area: 1 / 1 / 2 / 2;
}

.card-pokemon-name {
    grid-area: 2 / 1 / 3 / 2;
}

.card-HP {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: end;
}

.card-type {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
    align-self: start;
    transform: translateY(calc(-var(--card-font-size)));
}

.card-energy-icon {
    height: calc(var(--card-font-size) * 2.7);
}

.card-energy-icon.energy-med {
    height: calc(var(--card-font-size) * 2.1);
}

.card-energy-icon.energy-small {
    height: calc(var(--card-font-size) * 1.5);
    transform: translateY(15%);
}

h1,
h2,
h3,
p {
    margin: 0;
    height: 100%;
}

h1 {
    font-size: calc(var(--card-font-size) * 2.5);
}

h2 {
    font-size: calc(var(--card-font-size) * 2.6);
}

h3 {
    font-size: calc(var(--card-font-size) * 1);
}

.card-photo-section {
    width: 90%;
    justify-self: center;
    align-self: center;
}

.card-photo {
    width: 100%;
}

.card-attributes-section {
    background-color: var(--border-color);
    justify-self: center;
    width: 80%;
    text-align: center;
    display: grid;
    align-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}

.card-moves-list {
    padding: calc(var(--card-font-size) * 0.1) calc(var(--card-font-size) * 2);
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    justify-items: center;
}

.card-move {
    padding: calc(var(--card-font-size) * 0.3);
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: 16% auto 11%;
    grid-auto-flow: column;
    column-gap: 2%;
    justify-items: center;
    align-items: center;
    border-bottom: calc(var(--card-font-size) * 0.3) solid black;
}

.card-move-energy-list {
    grid-column: 1 / 2;
}

.card-move-text {
    grid-column: 2 / 3;
}

.card-move-dmg {
    grid-column: 3 / -1;
}

.card-move-energy-list,
.card-effectiveness-energy-list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.card-move-text {
    padding: 2% 2%;
}

.card-move-title {
    font-size: calc(var(--card-font-size) * 2);
    font-weight: bold;
    margin-right: 1%;
}

.card-effectiveness-section {
    justify-self: start;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 0.1%;
}

.card-effectiveness-energy-list {
    display: flex;
    width: min-content;
    gap: 20%;
    justify-content: center;
}

.card-weakness,
.card-resistance,
.card-retreat-cost {
    grid-row: 1;
}

.card-description {
    margin: 1%;
    padding: calc(var(--card-font-size) * 0.1) calc(var(--card-font-size) * 0.5);
    border: calc(var(--card-font-size) * 0.3) solid var(--border-color);
}

.card-info {
    height: min-content;
    margin: calc(var(--card-font-size) * 0.5) calc(var(--card-font-size) * 0.5);
}

.card-rarity-icon {
    margin-top: 0.4%;
    margin-left: var(--card-font-size);
    width: var(--card-font-size);
    justify-self: end;
}
