* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2rem;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 13rem);
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 1rem;
    justify-content: center;
}
