:root {
    --bg-color: #eca57f;
    --border-color: #e8ce4a;
    --text-primary: rgb(14, 14, 14);
    --text-secondary: rgb(46, 46, 46);
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card-container {
    height: 53rem;
    width: 38rem;
    border-radius: 2rem;
    background-color: var(--border-color);
    padding: 3%;
    /* overflow: hidden; */
}

.card-grid {
    background-color: var(--bg-color);
    height: 100%;
    display: grid;
    grid-template-areas:
        ". ev ev ev ev ev . . . ."
        ". nm nm nm nm nm hp hp tp ."
        ". pc pc pc pc pc pc pc pc ."
        ". at at at at at at at at ."
        "mv mv mv mv mv mv mv mv mv mv"
        ". wk wk wk rs rs rc rc rc . "
        ". ds ds ds ds ds ds ds ds ."
        "if if if if if if if if if if";
    grid-template-rows: 4% 6% auto;
    grid-template-columns: repeat(auto-fill, 1fr);
    justify-content: space-around;
    align-items: end;
}

h1,
h2,
h3,
p {
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 0.8rem;
}

.card-evolution-level {
    grid-area: ev;
    align-self: end;
}

.card-pokemon-name {
    grid-area: nm;
}

.card-HP {
    grid-area: hp;
}

.card-type {
    grid-area: tp;
}

.card-picture {
    grid-area: pc;
    justify-self: center;
    align-self: center;
}

.card-pokemon-attributes {
    grid-area: at;
}

.card-moves-container {
    grid-area: mv;
}

.card-move {
    grid-area: mv;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
}

.card-move-title {
    font-size: 1.4rem;
    font-weight: bold;
}

.card-weakness {
    grid-area: wk;
}

.card-resistance {
    grid-area: rs;
}

.card-retreat-cost {
    grid-area: rc;
}

.card-description {
    grid-area: ds;
}

.card-info {
    grid-area: if;
}
